@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

body {
  background-color: #F3F4F6 !important;
}

.App {
  height: 100%;
}

/* ------- Slider Styling -------- */

.sliderBody {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  position: absolute;
  width: 300px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
  background: #FFFFFF;
}

.mainLogo {
  width: 158px;
  height: 140px;
  background: url(./assets/logo.png);

}

.sliderList {

  padding: 0px;
  margin-top: 30px;
  width: 212px;
  height: 312px;

}

.sliderList a {
  text-decoration: none !important;

}

.sliderList li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px 8px 4px;
  gap: 20px;


}

.sliderList .title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #6B7280;

}

.icon {
  position: relative;
  width: 24px;
  height: 24.4px;
}

.active {
  background: #ECFDF5;
  color: #059669 !important;
  border-left: 4px solid #059669;
  transition: all 0.1s linear;
}

.active .title {
  color: #059669 !important;
}

.active .icon {
  color: #059669 !important;
}

.res-container {
  display: none;
}

.res-logo {
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
}

.bar-title {
  width: 40px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;


}

.res-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 16px;
  width: 100%;
  height: 56px;
  background: #059669;
}

.menu-btn {
  cursor: pointer;
}



.offcanvas.offcanvas-start {
  width: auto !important;
}


/* ------------ Common ---------- */

.Row {
  display: flex;
  flex-direction: row;
  width: 100vw;


}

.Col1 {
  width: 400px;

}

.Col2 {
  width: 100%;
}

/* -------- Home Page -------- */

.mainScreen {
  position: absolute;
  height: 637px;
  left: 310px;
  right: 0px;
  top: 4px;
}


.mainScreen img {
  width: 100%;
  margin: 0 auto;
}

.mainText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 587px;
  height: 208px;
  left: 60px;
  top: calc(50% - 208px/2 - 0.5px);
}

.arrow-container {
  display: flex;
}

.letsPlay {
  width: 354px;
  height: 72px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;

  color: #FFFFFF;


}

.content {

  width: 587px;
  height: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;

}

.pick-play {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 468px;
  height: 48px;
}

.pick-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  width: 216px;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 44px;
  user-select: none;
}

.book-icon {
  width: 24px;
  height: 24px;
}

.play-text {
  width: 150px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #059669;


}

.arrow-icon {
  width: 24px;
  height: 24px;
}

.arrow-text {
  width: 80px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 15px;
  padding: 0px 4px;
  color: #FFFFFF;
}

.square-box {
  margin-top: 50px;
  width: 60px;
  height: 16px;
  background: #059669;
  mix-blend-mode: normal;
}

.extra-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  width: 587px;
}

.extra-header {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #111827;


}

.extra-paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #111827;


}

.pick-time-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 200px;
  border-radius: 44px;
  cursor: pointer;
}

.book-icon-2 {
  padding-top: 20px;
}

.pick-text-2 {
  margin-top: 41px;
  padding-left: 10px;
  width: 150px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #059669;
}

.vector-icon {
  width: 18px;
  height: 12px;
  padding-top: 15px;
  padding-left: 5px;
}

.multi-carousel {
  width: 100%;
  user-select: none;
  cursor: pointer;
  margin-top: 20px;
}

.tvImg {
  padding: 0px 15px 15px 0px;
  user-select: none;

}

.tvImg img {
  width: 100%;
}

.how-it-works {
  width: 190px;
  height: 36px;
  margin-top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #111827;
}

.vid-time {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.vector-icon-2 {
  width: 18px;
  margin-left: 5px;
}








/* ------------ Video Background ------- */

.vid-background {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 363px;
  background: #111827;
  margin-top: 20px;
}

.vid-img {
  width: 658px;
  height: 363px;

  mix-blend-mode: normal;

}

.vid-img img {
  width: 100%;
}

.play-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  position: absolute;
  width: 155px;
  height: 44px;
  left: calc(50% - 135px/2 + 0.5px);
  top: calc(50% - 28px/2 + 0.5px);
  background: #FFFFFF;
  border-radius: 44px;
  text-align: center;
  cursor: pointer;

}

.play-icon {
  width: 38px;


}

.play-text-2 {
  width: 136px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 5px;
  color: #059669;

}


/* -------- Footer -------- */
.Footer-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 160px;
  margin-top: 0px;
  background: #E5E7EB;

}

.footer-box {
  width: 100%;
}

.Footer-text-1 {
  height: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: px;
  text-align: center;
  color: #6B7280;


}

.Footer-text-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  height: 48px;
  color: #6B7280;
  margin-top: 15px;

}

.Footer-text-3 {
  color: #6B7280;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 8px;
  text-align: center;
}

.empty {
  height: 78.5vh;
}

.back-btn {
  display: none;
  user-select: none;

}



/* ----------- Event --------- */
.page-bg {
  height: 200px;
  background: url('./assets/eventh.png');
  background-size: cover;
  background-position: center;
  position: relative;

}

.tutorials-h {

  background: url('./assets/tutorialsh.png');
}

.page-title {
  position: absolute;
  width: 161px;
  height: 48px;
  left: 60px;
  top: calc(50% - 48px/2);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
}

.inner-page-title {
  width: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #111827;
  margin-top: 20px;
}

.tutorial-box {
  position: absolute;
  height: 637px;
  left: 310px;
  right: 0px;
  top: 4px;

}

/* ---------- Lets Play ------- */

.lets-play-box {
  height: 264px;
  background: url('./assets//letsplay.png');
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  position: relative;
}

.lets-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  position: absolute;
  height: 108px;
  left: calc(50% - 216px/2);
  top: calc(50% - 108px/2);
}

.lets-ply-text {
  height: 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;

}

.lets-play-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  width: 216px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 44px;

}

.inner-paragraph {
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #111827;
  margin-top: 20px;
  padding-right: 10px;

}
.main-event-div{
  width: 100%;
}
.input-box{
  margin-top: 20px;
}
.f-l-box{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  
}
.e-l-email-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;

  
}
.inner-input-box input{
  width: 400px;
}
.f-box, .last-box{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px;
  margin-left: 0px;
  

}
.f-box input{
  width: 100%;
}
.email input{
  width: 400px;
}
.message textarea{
  width: 800px;
}
.form-title{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #111827;

}
.form-input{
  box-sizing: border-box;
padding: 0px 5px;
min-height: 38px;
background: #FFFFFF;
border: 1px solid #D1D5DB;
outline: none;

}
.submit-btn{
  display: flex;
flex-direction: row;
align-items: center;
padding: 12px 24px;
margin-top: 15px;
gap: 8px;
width: 174px;
height: 48px;
background: #9CA3AF;
border-radius: 44px;
cursor: pointer;
margin-bottom: 15px;
}
.send-text{
  
height: 24px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #E5E7EB;
}

/* -------- Rates -------- */
.rates-bg{
  background-image: url('./assets//ratesbg.png');
  background-size: cover;
}
.green-text{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 8px;
width: 172px;
text-transform: uppercase;
height: 32px;
background: #059669;
margin-top: 15px;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
align-items: center;
justify-content: center;
}
.pkg-box{
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 100%;
height: 132px;
margin-top: 20px;
}
.dates-text{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
color: #111827;
margin-top: 20px;

}
.dates-title-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #D5D8DE;
  border-bottom: 1px solid #D5D8DE;
  margin-top: 15px;
  padding: 5px 0px;
  
  
}
.dates-value-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #D5D8DE;
  padding: 5px 0px;
  

}
.title-head{
  text-align: center;
font-family: 'Inter';
font-style: normal;
font-size: 16px;
line-height: 24px;
color: #6B7280;


}
.title-value{
  text-align: center;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #111827;
}
.responsive-schedule{
display: none;  
}
@media only screen and (max-width:1300px) {

  /* -------- Home Page -------- */

  .mainText {
    top: calc(35% - 208px/2 - 0.5px);

  }
}

@media only screen and (max-width:1100px) {

  /* -------- Home Page -------- */

  .mainScreen img {
    width: 100%;
    margin: 0 auto;
  }

  .mainText {
    top: calc(25% - 208px/2 - 0.5px);
    gap: 15px;
    width: fit-content;
    margin: 0px;
  }

  .letsPlay {
    font-size: 52px;


  }

  .content {

    width: 440px;
    height: 88px;
    font-size: 14px;

  }


  .vid-background {
    height: auto;
  }

  .vid-img {
    height: fit-content;
  }
}

@media only screen and (max-width:992px) {
  .sliderBody {
    display: none;
  }

  .res-container {
    display: block;
  }

  .sliderBody {
    position: relative;
    width: 100%;

  }

  .tutorial-box {

    left: 0px;
    right: 0px;
    top: 0px;

  }

  .inner-page-title {
    line-height: 16px;
  }

  .Col2 {
    width: 100%;
    position: absolute;
  }

  .mainScreen {
    position: initial;
    padding: 0px;
  }

  .square-box {
    margin-top: 50px;
    margin-left: 20px;
  }

  .extra-text {
    margin-left: 20px;

  }

  .how-it-works {
    margin-left: 20px;

  }

  .mainText {
    top: calc(38% - 208px/2 - 0.5px);
    margin: 20px;
  }

  .back-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 16px;
    width: 100%;
    height: 56px;
    background: #059669;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
  }

  .inner-page-title {
    margin-left: 20px;

  }

  .inner-div {
    margin-left: 20px;
  }

}

@media only screen and (max-width:900px) {
  .mainText {
    top: calc(30% - 208px/2 - 0.5px);
    margin: 20px;
  }
  
  .message textarea{
    width: 600px;
  }
  
}

@media only screen and (max-width:768px) {
  .mainText {
    top: calc(22% - 208px/2 - 0.5px);
    margin: 20px;
  }
  
  
  .title-head{
    text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #6B7280;
  
  
  }
  .title-value{
    text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #111827;
  }
}

@media only screen and (max-width:650px) {


  .mainScreen {
    padding: 0px;
  }

  .mainText {
    top: calc(35% - 208px/2 - 0.5px);
    margin: 20px;
  }

  .main-s-img {
    width: 375px;
    height: 520px;
    object-fit: cover;
  }

  .square-box {
    margin-top: 50px;
    margin-left: 20px;
  }

  .how-it-works {
    margin-left: 20px;
  }

  .vid-img img {
    object-fit: cover;
  }

  .sliderBody {
    position: relative;
    padding: 0px !important;
  }

  .mainText {
    left: 18px;
  }

  .extra-text {
    width: 430px;
  }
  .message textarea{
    width: 400px;
  }

}

@media only screen and (max-width:568px) {
  .mainText {
    margin: 0px !important;
  }

  .arrow-container {
    display: none;
  }

  .play-text {
    width: 150px;
  }
  .schedule-box{
    display: none;
  }
  .responsive-schedule{
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 8px;
  width: 100%;
  
  }
  .schedule-days {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    height: 64px;
    justify-content: center;
}
  .each-day{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  width: 150px;
  height: 64px;
  border: 1px solid #D1D5DB;
  border-radius: 4px;
  
  }
  .schedule-large-box{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  width: 310px;
  height: 64px;
  border: 1px solid #D1D5DB;
  border-radius: 4px;
  
  }
  .day-name{
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  
  color: #6B7280;
  
  
  }
  .day-price{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #111827;
  
  }
  .schedule-large{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
}

@media only screen and (max-width:492px) {
  .content {
    width: auto;
    height: 96px;
    font-size: 15px;
  }

  .letsPlay {
    width: auto;
  }

  .res-logo img {
    width: 90%;
  }

  .pick-play {
    width: auto;
    margin-top: 20px;
  }

  .mainText {
    width: auto;
  }

  .extra-text {
    width: auto;
    text-align: justify;
    padding-right: 18px;
  }

  .page-title {
    width: auto;
    font-size: 38px;
  }

  .inner-page-title {
    font-size: 22px;

  }
  .email input {
    width: auto;
}
.message textarea{
  width: 100%;
}
.input-box {
  margin-top: 44px;
}
.email {
  width: 100%;
}
.email input{
  width: 100%;
}
.e-l-email-box{
  padding: 0px 10px;
}

}